extends layout

block content
  h1= title
  div.container
    ul.nav.justify-content-end.main-nav
      if user
        li.nav-item
          a.nav-link(href="/viewAll") Easy
        li.nav-item
          a.nav-link(href="/choices") Medium
      else
        h2 Please Login Or Register To Play Other Modes!
        li.nav-item
          a.nav-link(href="/viewAll") Easy
  div.container