extends ../layout

block content
    div.card-container
        a.card(href="/view")
            img(src="/images/Rock.png")
        a.card(href="/viewPaper")
            img(src="/images/Paper.png")
        a.card(href="/viewScissors")
            img(src="/images/Scissors.png")